* {
    box-sizing: border-box;
}


/* .boxes {
    display: flex;    
    background-color: rebeccapurple;
}

.boxes div {
    background-color: orange;
    margin: 5px;
    flex-grow: 1;
} */


.boxes {
    display: flex;    
    background-color: rebeccapurple;
    flex-wrap: wrap;
}

.boxes div {
    background-color: orange;
    border: 5px solid rebeccapurple;
    padding: .25em;
    flex-grow: 1;
    flex-basis: 50%; 
}

.boxes .a {
    flex-grow: 3;
}